<form action="">
    <h1>Add New Quote</h1>
    <div class="form-gruop">
        <label for="" class="form-label">Your Name:</label><br>
        <input type="text" class="form-control" >
    </div>
    <div class="form-gruop">
        <label for="" class="form-label">Topic:</label><br>
        <input type="text" class="form-control">
    </div>
    <div class="form-gruop">
        <label for="" class="form-label">Quote:</label><br>
        <input type="text" class="form-control">
    </div>
    <div class="form-gruop">
        <label for="" class="form-label">Aurthor:</label><br>
        <input type="text" class="form-control">
    </div> <br>
    <button class="btn btn-primary" type="submit">POST QUOTE</button>
</form>
