<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Coputer Programming </h2><i class="bi bi-trash "></i>
                    <p class="card-text">If you are not displined you are a slave to your emotions</p> <br>
                    <button><i class="bi bi-hand-thumbs-up"></i>Upvote</button>
                    <button><i class="bi bi-hand-thumbs-down"></i>Downvote</button>
                    <h5>Author: <small>Nelson Mandela</small></h5>
                    <h5>Posted: <small>4 months ago</small></h5>
                    <h5>Posted by: <small>Zack Daniel</small></h5>


                    
                </div>
            </div>
        </div>
        <div class="col-md-4">
           <app-quote-form></app-quote-form>
        </div>

    </div>
    
</div>
