<div class="container mt-5">    
    <div class="row">
        <div class="col-md-8">
            <ng-container *ngFor="let quote of quotes; let i = index ">
                <div class="card mb-3" style="width:80%" >
                    <div class="card-body">
                        <h2 class="card-title bg-light ">{{quote.topic}} <app-delete-btn (deleteQuote)='deleteTheQuote($event, i)'></app-delete-btn></h2>
                        <p class="card-text" id="quote">"{{quote.quote}}"</p> <br>
                    </div>
                    <div class="card-footer">
                        <app-quote-details [quote]='quote' ></app-quote-details>
                    </div>
                </div>
            </ng-container>
            
        </div> 
        <div class="col-md-4">
           <app-quote-form></app-quote-form>
        </div>
    </div>
    

    
</div>
